

@media all and (min-width:960px) {
    .metronome_one {
        color: red;
        position: fixed;
        left: 35em;
        top: 7.5em;
        font-size: larger;
        font-weight: bold;
        height: 2em;
        width: 2em;
        background-color: lightpink;
        border-radius: 0.5em;
        padding-top: 0.15em;
    }

    .metronome {
        color: blue;
        position: fixed;
        left: 35em;
        top: 7.5em;
        font-size: larger;
        font-weight: bold;
        height: 2em;
        width: 2em;
        background-color: lightblue;
        border-radius: 0.5em;
        padding-top: 0.15em;
    }
  }
  
  @media all and (min-width:801px) and (max-width: 959px) {
      .metronome_one {
        color: blueviolet;
        position: fixed;
        left: 35em;
        top: 7.5em;
        font-size: larger;
        font-weight: bold;
        height: 2em;
        width: 2em;
        background-color: lightpink;
        border-radius: 0.5em;
        padding-top: 0.15em;
    }

    .metronome {
        color: violet;
        position: fixed;
        left: 35em;
        top: 7.5em;
        font-size: larger;
        font-weight: bold;
        height: 2em;
        width: 2em;
        background-color: lightblue;
        border-radius: 0.5em;
        padding-top: 0.15em;
    }
  }
  
  @media all and (min-width:769px) and (max-width: 800px) {
    .metronome_one {
      color:brown;
      position: fixed;
      left: 35em;
      top: 7.5em;
      font-size: larger;
      font-weight: bold;
      height: 2em;
      width: 2em;
      background-color: lightpink;
      border-radius: 0.5em;
      padding-top: 0.15em;
  }

  .metronome {
      color:cyan;
      position: fixed;
      left: 35em;
      top: 7.5em;
      font-size: larger;
      font-weight: bold;
      height: 2em;
      width: 2em;
      background-color: lightblue;
      border-radius: 0.5em;
      padding-top: 0.15em;
  }
  }
  
  @media all and (min-width:569px) and (max-width: 768px) {
    .metronome_one {
        color: red;
        position: fixed;
        left: 5em;
        top: 5em;
        font-size: larger;
        font-weight: bold;
        height: 2em;
        width: 2em;
        background-color: lightpink;
        border-radius: 0.5em;
        padding-top: 0.15em;
    }

    .metronome {
        color: blue;
        position: fixed;
        left: 5em;
        top: 5em;
        font-size: larger;
        font-weight: bold;
        height: 2em;
        width: 2em;
        background-color: lightblue;
        border-radius: 0.5em;
        padding-top: 0.15em;
    }
  }
  
  @media all and (min-width:481px) and (max-width: 568px) {
    .metronome_one {
      color:brown;
      position: fixed;
      left: 35em;
      top: 7.5em;
      font-size: larger;
      font-weight: bold;
      height: 2em;
      width: 2em;
      background-color: lightpink;
      border-radius: 0.5em;
      padding-top: 0.15em;
  }

  .metronome {
      color:cyan;
      position: fixed;
      left: 35em;
      top: 7.5em;
      font-size: larger;
      font-weight: bold;
      height: 2em;
      width: 2em;
      background-color: lightblue;
      border-radius: 0.5em;
      padding-top: 0.15em;
  }
  }
  
  @media all and (min-width:321px) and (max-width: 480px) {
    .metronome_one {
      color:brown;
      position: fixed;
      left: 35em;
      top: 7.5em;
      font-size: larger;
      font-weight: bold;
      height: 2em;
      width: 2em;
      background-color: lightpink;
      border-radius: 0.5em;
      padding-top: 0.15em;
  }

  .metronome {
      color:cyan;
      position: fixed;
      left: 35em;
      top: 7.5em;
      font-size: larger;
      font-weight: bold;
      height: 2em;
      width: 2em;
      background-color: lightblue;
      border-radius: 0.5em;
      padding-top: 0.15em;
  }
  }
  
  @media all and (min-width:0px) and (max-width: 320px) {
      .metronome_one {
        color:darkorange;
        position: fixed;
        left: 35em;
        top: 7.5em;
        font-size: larger;
        font-weight: bold;
        height: 2em;
        width: 2em;
        background-color: lightpink;
        border-radius: 0.5em;
        padding-top: 0.15em;
    }

    .metronome {
        color:cornsilk;
        position: fixed;
        left: 35em;
        top: 7.5em;
        font-size: larger;
        font-weight: bold;
        height: 2em;
        width: 2em;
        background-color: lightblue;
        border-radius: 0.5em;
        padding-top: 0.15em;
    }
  }